.navbar{
    margin-top:0.5%;
}
.my-navbar {
    background: linear-gradient(150deg,#4d816b,#9ec27d,#a748d8,#87488f,#a748d8);
}
.hvr-underline-from-center:hover {
    border-bottom: 3px solid red;
    color-adjust: #915078;
  }
  .hvr-underline-from-center:hover, .mr-1:hover {
  color: rgb(46, 167, 130);
  }
.my-bgmenu a {
    color: rgb(132, 15, 143);
}
.my-bgmenu a:hover {
    color: #E42828!important;
    transition: all ease-in-out 0.3s;
}

.glow-on-hover:hover,.glow-on-hover:hover .fa-caret-down {
    color: #000 !important;
}
.glow-on-hover:hover .fa-caret-down {
    color: #ff0000 !important;
}
.my-bgmenu:hover,.fa-caret-down{
    color: #000 !important;
}

