.form-gap {
    padding-top: 70px;
}
.col-md-offset-4 {
    margin-left: 33.33333333%;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.bg-info {
    background-color: #17a2b8!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.col-md-offset-4 {
    margin-left: 33.33333333%;
}
.col-md-4 {
    width: 33.33333333%;
}
