.header img{
    width: 100% !important;
}
/* .row{
    margin-top: 2%;
} */
hr {
    width: 70%;
}
.col-md-5{
    margin: 2%;
    float: left;
}
.navbar{
    margin-top: 1%;
}

.card-body img {
    margin-left: 33%;
}
.imagess{
    margin-left: 20% !important;
}

.card-body h2 {
    text-align: center;
}
.carousel img {
    width: 30%;
    margin: auto;
}
.carousel-control-prev {
    background-color:#f8f2f2;
}
.carousel-control-next {
    background-color:#f8f2f2;
}
.carousel-inner{
    margin-bottom: 2%;
}
.card-footer{
    margin: 0 auto;
}
.text-center{
    width: 100%;
    float: left;
}
.fa{
    margin: 2%;
}
