<div class="card">
    <div class="card-header">
      Leaf Rake
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          Name :<br>
          Code :<br>
          Description :<br>
          <br>
          Availabillty :<br>         
          Price :<br>
          5 Start Rating:<br>
        </div>
        <div class="col-4">
          Leaf Rake<br>
          GDN-0011<br>
          Leaf rake with 48-inch wooden <br>
           handle<br>
          March 19,2016<br>
          $19.95<br>
          3.2<br>
        </div>
        <div class="col-6">
          <img src="assets/images/cay1.png" style="width: 30%;">
        </div>
      </div>
    </div>
    <div class="card-footer ">
        <a href="app/list-product"><i class="fa fa-arrow-left" aria-hidden="true"> </i></a>Back 
    </div>
  </div>
  <div class=""></div>

