<div class="card">
    <div class="card-header">
      <h3> {{pageTitle}}</h3>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          Name :<br>
          Code :<br>
          Description :<br>
          <br>
          Availabillty :<br>         
          Price :<br>
          5 Start Rating:<br>
        </div>
        <div class="col-4" >
          {{product.productName}}<br>
          {{product.productCode}}<br>
          {{product.description}} <br>
          {{product.releaseDate}} <br>
          {{product.price | currency }}<br>
          {{product.starRating}}<br>
        </div>
        <div class="col-6">
          <img src="assets/images/{{product.imageUrl}}" style="width: 30%;">
        </div>
      </div>
    </div>
    <div class="card-footer ">
        <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"> </i></a>Back 
        <button class="btn btn-danger" (click)='addToCart(product)'>buy</button>
    </div>
  </div>
  <div class=""></div>

