 <!-- <router-outlet></router-outlet> 
 <app-home-page></app-home-page>
<app-detail-questions></app-detail-questions>
<app-password-reset></app-password-reset>
<app-change-password></app-change-password> 
 <app-edit-password></app-edit-password>  -->
<!-- <app-login></app-login> -->

      
        <div class="header">
                <img src="assets/images/banner.png" alt="">
            </div>
            <!-- menu -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        
                <div class="bentrai">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"[routerLink]="['/introduce']">Giới thiệu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/contact']">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Góp ý</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/answar']">Hỏi đáp</a>
                        </li>
                    </ul>
                </div>
                <div class="benphai">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tài Khoản
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" [routerLink]="['/registration']">Đăng ký</a>
                            <a class="dropdown-item" [routerLink]="['/login']">Đăng nhập</a>
                            <a class="dropdown-item" [routerLink]="['/password-reset']">Quên mật khẩu</a>
                            <hr>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                            <a class="dropdown-item" [routerLink]="['/change-password']">Đổi mật khẩu</a>
                            <a class="dropdown-item" [routerLink]="['/edit-password']">Cập nhập tài khoản</a>
                        </div>
                    </div>
                </div>
            </nav>
           
               <router-outlet></router-outlet> 
            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4 bg-info">
                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">
                            <!-- Content -->
                            <h5 class="text-uppercase">Thử sức trí tuệ</h5>
                            <p> Thỏa chí tỏa sáng, <br>
                                Tung hết trí tuệ, <br>
                                Ương mần nhân tài, <br>
                                Đến ngay web-questions.</p>
                        </div>
                        <!-- Grid column -->
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">
                            <!-- Links -->
                            <p class="text-uppercase">lựa chọn môn học</p>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Lâp trình android nâng cao</a>
                                </li>
                                <li>
                                    <a href="#!">Cơ sở dữ liệu</a>
                                </li>
                                <li>
                                    <a href="#!">SQL Server</a>
                                </li>
                                <li>
                                    <a href="#!">Lập trình PHP</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">
                            <!-- Links -->
                            <h5 class="text-uppercase">Liên hệ:</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">0376828742</a>
                                </li>
                                <li>
                                    <a href="#!">luonggiahuy257@gmail.com</a>
                                </li>
                                <li>
                                    <a href="#!">TP hcm</a>
                                </li>
                                <li>
                                    <a href="#!">web-questions</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Footer Links -->
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <a href="https://luonggiahuy257.epizy.com">luonggiahuy257.epizy.com</a>
                </div>
                <!-- Copyright -->
        
            </footer>
            <!-- Footer -->
