


<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
     <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-product']" >Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-product']" >product-detail</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/shopping-cart']" >ShoppingCart</a>
        </li>
      </ul>
     <router-outlet></router-outlet>  


<!-- <router-outlet></router-outlet>  -->
</div>

