


<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
     <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-product']" >Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" [routerLink]="['/list-product']" >product-detail</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/shopping-cart']" >ShoppingCart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " [routerLink]="['/lab5form11']" >lab5</a>
          <section>
           <a  [routerLink]="['/lab5form11']"><option value="1">form 1.1</option></a> 
           <a  [routerLink]="['/lab5form12']"><option value="1">form 1.2</option></a> 
           <a  [routerLink]="['/lab5form2']"><option value="1">form 2</option></a> 
           <a  [routerLink]="['/lab5form3']"><option value="1">form 3</option></a> 
      
         
          </section>
        </li>
      </ul>
     <router-outlet></router-outlet>  


<!-- <router-outlet></router-outlet>  -->
</div>

