

      
        <div class="header">
                <img src="assets/images/banner.png" alt="">
            </div>
            <!-- menu -->
 
            <app-nav></app-nav>           
            <router-outlet></router-outlet> 
            <!-- Footer -->
            <footer class="page-footer font-small blue pt-4 bg-info">
                <!-- Footer Links -->
                <div class="container-fluid text-center text-md-left">
                    <!-- Grid row -->
                    <div class="row">
                        <!-- Grid column -->
                        <div class="col-md-6 mt-md-0 mt-3">
                            <!-- Content -->
                            <h5 class="text-uppercase">Thử sức trí tuệ</h5>
                            <p> Thỏa chí tỏa sáng, <br>
                                Tung hết trí tuệ, <br>
                                Ương mần nhân tài, <br>
                                Đến ngay web-questions.</p>
                        </div>
                        <!-- Grid column -->
                        <hr class="clearfix w-100 d-md-none pb-3">
                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">
                            <!-- Links -->
                            <p class="text-uppercase">lựa chọn môn học</p>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">Lâp trình android nâng cao</a>
                                </li>
                                <li>
                                    <a href="#!">Cơ sở dữ liệu</a>
                                </li>
                                <li>
                                    <a href="#!">SQL Server</a>
                                </li>
                                <li>
                                    <a href="#!">Lập trình PHP</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Grid column -->
                        <!-- Grid column -->
                        <div class="col-md-3 mb-md-0 mb-3">
                            <!-- Links -->
                            <h5 class="text-uppercase">Liên hệ:</h5>
                            <ul class="list-unstyled">
                                <li>
                                    <a href="#!">0376828742</a>
                                </li>
                                <li>
                                    <a href="#!">luonggiahuy257@gmail.com</a>
                                </li>
                                <li>
                                    <a href="#!">TP hcm</a>
                                </li>
                                <li>
                                    <a href="#!">web-questions</a>
                                </li>
                            </ul>
                        </div>
                        <!-- Grid column -->
                    </div>
                    <!-- Grid row -->
                </div>
                <!-- Footer Links -->
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2019 Copyright:
                    <a href="http://luonggiahuy257lab5.epizy.com">luonggiahuy257.epizy.com</a>
                </div>
                <!-- Copyright -->
   
            </footer>
            <!-- Footer -->
