 <nav class="navbar navbar-expand-lg navbar-light my-navbar">      
                <div class="hvr-bounce-in">
                    <img src="assets/images/Subject-xp.png" width="42px">
                </div>        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">            
                            <a class="nav-link txtshadow" href="#">
                                <span class="hvr-underline-from-center">
                                    <i class="fas fa-home mr-1"></i>TRANG CHỦ
                                </span>
                            </a>
                        </li>
                        <li class="nav-item txtshadow">
                            <a class="nav-link" [routerLink]="['/introduce']"> 
                                <span class="hvr-underline-from-center">
                                    <i class="fas fa-info mr-1"></i>GIỚI THIỆU
                                </span>
                            </a>
                        </li>
                        <li class="nav-item txtshadow">
                            <a class="nav-link"  [routerLink]="['/contact']"> 
                                <span class="hvr-underline-from-center">
                                    <i class="fas fa-phone fa-rotate-180 mr-1"></i>LIÊN HỆ 
                                </span>
                            </a>
                        </li>
                        <li class="nav-item txtshadow">
                            <a class="nav-link" [routerLink]="['/gopy']"> 
                                <span class="hvr-underline-from-center">
                                    <i class="far fa-comment-alt mr-1"></i>GÓP Ý
                                </span>
                            </a>
                        </li>
                        <li class="nav-item txtshadow">
                            <a class="nav-link"  [routerLink]="['/answar']"> 
                                <span class="hvr-underline-from-center">
                                    <i class="fas fa-question mr-1"></i>HỎI ĐÁP
                                </span>
                            </a>
                        </li>
                   
                    </ul>	
            
                    <div class="dropdown mt-3 mt-lg-0">
                        <button type="button" class="glow-on-hover btn btn-primary font-weight-bold hvr-icon-hang" data-toggle="dropdown">
                            <span class="mr-1 txtshadow">đăng nhập</span>
                            <i class="fas fa-caret-down fa-lg hvr-icon text-violet"></i>
                        </button>	
            
                        <div class="dropdown-menu my-bgmenu my-form mt-2 border-primary dropdown-menu-lg-right dropdown-menu-md-left">
                            <a class="dropdown-item" [routerLink]="['/registration']">Đăng ký</a>
                            <a class="dropdown-item" [routerLink]="['/login']">Đăng nhập</a>
                            <a class="dropdown-item" [routerLink]="['/password-reset']">Quên mật khẩu</a>
                            <hr>
                            <a class="dropdown-item" href="#">Đăng xuất</a>
                            <a class="dropdown-item" [routerLink]="['/change-password']">Đổi mật khẩu</a>
                            <a class="dropdown-item" [routerLink]="['/edit-password']">Cập nhập tài khoản</a>
                        </div>
                    </div>
                </div>
            </nav>
