.hvr-bt:hover {
	background-color: #FFFFFF !important;
	color:  rgb(45, 116, 156) !important;
	border: 1px solid  #E04251 !important;
}
.faaa{
	background: antiquewhite;
}
.text-primary {
    color: #cc00ff!important;
}
.text-primary:hover {
    color: #50afaf!important;
}
.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}
.btn-primary:hover{
	background-color: #23a892 !important;
}