.row{
    margin: 0 auto !important;
}
ul {
    list-style: none;
    }
.imgess{
    margin: 0 auto;
}
.text-white {
    color: #624444!important;
}
.noidung p{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 24px;
  font-variant-alternates: character-variant();
}
