<div class="card">
    <h5 class="card-header"><i class="fa fa-table"></i>Please answer the following question?</h5>
    <div class="card-body">
        <div class="row">
            <div class="questions">
                trên trời có bao nhiêu vì sao?
            </div>
            <hr>
            <div class="col-8">
                <input type="radio" aria-label="Radio button for following text input">
                4 ngôi sao <br>
                <input type="radio" aria-label="Radio button for following text input">
                6 ngôi sao <br>
                <input type="radio" aria-label="Radio button for following text input">
                vô sô <br>
                <input type="radio" aria-label="Radio button for following text input">
                8 ngôi sao<br>
            </div>
            <div class="col-4">
                <img src="assets/images/traidat.jpg" alt="">
            </div>
        </div>
        <!-- end row -->
    </div>
    <h5 class="card-footer">đáp án</h5>
</div>
