

<form class="form-compact" action="">
            <div class="row paddingBottom20">
                <div class="container col-4">
                    <div class="row">
                        <h6 class="text-center col-12 mb-0">Contact Information</h6>
                        <sub class="text-right text-muted col-12"><a href="#" tabindex="-1"><i class="fa fa-edit"></i></a></sub>
                    </div>
                    <div class="dropdown-divider mb-3"></div>
                    <div class="form-group row">
                        <label  class="col-4 col-form-label-sm text-right">Full Name:</label> 
                        <div class="col-8">
                            <div class="input-group"> 
                                <input name="text" type="text" class="form-control">
                            </div>
                        </div>
                    </div> 
                    <div class="form-group row align-items-center">
                        <label  class="col-4 col-form-label-sm text-right">phone number:</label> 
                        <div class="col-8">
                          <div class="input-group"> 
                            <input type="number" class="form-control form-control-sm">
                          </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="position" class="col-4 col-form-label-sm text-right">country:</label> 
                        <div class="col-8">
                          <div class="input-group"> 
                            <select id="position" class="form-control">
                                <option>China</option>
                                <option>VietNamese</option>
                                <option>Thailand</option>
                                <option>Cuba</option>
                                <option>Japan</option>
                                <option>France</option>
                                <option>Russia</option>
                                <option>Spain</option>
                            </select>
                          </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label for="emailAddress" class="col-4 col-form-label-sm text-right">Email Address:</label> 
                        <div class="col-8">
                          <div class="input-group"> 
                            <input id="emailAddress" name="text" type="email" class="form-control form-control-sm extendable">
                          </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label  class="col-4 col-form-label-sm text-right">password</label> 
                        <div class="col-8">
                          <div class="input-group">
                              <input class="form-control" placeholder="Create password" type="password">
                          </div>
                        </div>
                    </div>
                    <div class="form-group row align-items-center">
                        <label  class="col-4 col-form-label-sm text-right">new password</label> 
                        <div class="col-8">
                          <div class="input-group">
                              <input class="form-control" placeholder="Create password" type="password">
                          </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-info" style="margin-left:51%">Reset</button>
                    <button type="button" class="btn btn-info" style="margin-left:7%">confirm</button>
                </div>
               
            </div>
        </form>
